/* Custom z-index to ensure backdrop is behind modal */
.modal-backdrop {
  z-index: 1040 !important;
  opacity: 0 !important;
  vertical-align: middle;
}
.modal {
  z-index: 1050 !important;
  vertical-align: middle;
}

.modal-backdrop.fade,
.modal-backdrop.fade.show {
  z-index: 0 !important;
  opacity: 0 !important;
  vertical-align: middle;
}

/* Modal selalu di atas semua elemen */
.modal,
.modal.show,
.modal.in {
  z-index: 99999 !important;  
  align-items: center !important;
  justify-content: center !important;
  min-height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;  
}
